@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Cairo:wght@200&family=Share+Tech+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-1: #343434;
  --bg-2: #efefef;
  --black: #000;
  --shite: #fff;
  --font-1: "Allerta", sans-serif;
  --font-2: "Cairo", sans-serif;
  --font-3: "Share Tech Mono", monospace;
}
.top-nav {
  width: 100%;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase;
  display: flex;
  background-color: var(--bg-1);
  color: var(--bg-2);

  justify-content: space-between;
  align-items: center;
}
.menu {
  float: right;
}
.menu a {
  padding: 10px 5px;
  text-decoration: none;
  color: var(--bg-2);

  font-family: var(--font-2);
}
.menu a:hover,
.menu a:active {
  color: rgb(47, 224, 47);
}
.conteiner {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
d-flex {
  display: flex;
  flex-wrap: wrap;
}
.style-1 {
  background-color: var(--bg-1);
}
.style-2 {
  background-color: var(--bg-2);
}
#home {
  background-image: url(./img/bg.png);
  background-size: cover;
}
